@charset "UTF-8";
/*Aplica a todo*/
body {
  background-image: url(../images/gran_logo_corazon_oscuro.jpg);
  background-size: 95%;
}
body header {
  background-image: url(../images/logo_chico_frio.png);
  background-size: 100%;
  background-position: center;
  text-align: center;
  height: 150px;
  box-shadow: 10px 5px 15px white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 3s;
}
body header:hover {
  background-image: url(../images/logo_chico_t80.png);
}
body header .nav-item {
  font-family: "Mate SC";
  font-size: 25px;
  font-weight: 600;
}
body header .nav-link {
  color: orange;
  text-shadow: 10px 10px 2px rgba(0, 255, 255, 0.5);
}
body header .nav-link:hover {
  color: cyan;
  text-shadow: 10px 10px 2px rgba(255, 165, 0, 0.5);
}
body header .opcionNovedad {
  text-shadow: 3px 3px 3px rgb(221, 15, 15);
  color: yellow;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes parpadeo {
  0% {
    text-shadow: 3px 3px 3px rgb(221, 15, 15);
    color: yellow;
  }
  50% {
    text-shadow: 5px 5px 5px yellow;
    color: rgb(221, 15, 15);
  }
  100% {
    text-shadow: 3px 3px 3px rgb(221, 15, 15);
    color: yellow;
  }
}
body #contenidoPagina {
  /*Pagina de Rdos de TMT*/
}
body #contenidoPagina .banner img {
  width: 100%;
}
body #contenidoPagina #titulodePagina {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Condiment";
  font-size: 60px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
body #contenidoPagina #subtitulodePagina {
  display: flex;
  justify-content: space-around;
  font-family: "Condiment";
  font-size: 50px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
body #contenidoPagina #subtituloBdePagina {
  display: flex;
  justify-content: space-around;
  font-family: "Righteous";
  font-size: 20px;
  color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}
body #contenidoPagina .nota_al_lector {
  color: yellow;
  text-align: center;
  text-shadow: -10px 1px 5px rgb(221, 15, 15);
}
body #contenidoPagina .slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding-top: 25px;
  box-shadow: 10px 10px 15px white;
}
body #contenidoPagina .slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 6400px;
}
body #contenidoPagina .slider .slide-track .slide {
  width: 200px;
}
body #contenidoPagina .slider .slide-track .slide .img {
  width: 100%;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(-3200px);
    -webkit-transform: translateX(-3200px);
  }
}
body #contenidoPagina #encabezadoIndex .tituloEncabezado {
  font-family: "Righteous";
  color: orange;
  margin-top: 20px;
  font-size: 35px;
  text-decoration: underline;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 5px double orange;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .fijoPagPrincCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding-bottom: 35px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .fijoPagPrincCard .jugActivos {
  margin-top: 50px;
  width: 100%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tituloSecundarioEncabezado {
  font-family: "Righteous";
  color: orange;
  margin-top: 20px;
  font-size: 30px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider .container {
  max-width: 1200px;
  margin: 0 auto;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider .tmts {
  padding: 30px 0 50px 0;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider .swiper {
  width: 98%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSlider .swiper-slide img {
  display: block;
  width: 100%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad .container {
  max-width: 1200px;
  margin: 0 auto;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad .tmts {
  padding: 30px 0 50px 0;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad .swiper {
  width: 98%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .tmtManualSliderEstad .swiper-slide img {
  display: block;
  width: 100%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo p {
  text-align: center;
  color: orange;
  font-family: "Mate SC";
  font-size: 20px;
  margin-bottom: 50px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo p a {
  color: white;
  text-decoration: none;
}
body #contenidoPagina #encabezadoIndex .anuncio {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
body #contenidoPagina #encabezadoIndex .anuncio .titulo_anuncio {
  text-align: center;
}
body #contenidoPagina #encabezadoIndex .anuncio .texto_anuncio {
  font-style: italic;
}
body #contenidoPagina #encabezadoIndex .anuncio .datos_anuncio {
  color: rgb(34, 159, 213);
  font-weight: bold;
  text-align: start;
}
body #contenidoPagina #encabezadoIndex .anuncio img {
  width: 100%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc {
  display: flex;
  flex-direction: column;
  border-bottom: 5px double orange;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .titulo2Encabezado {
  font-family: "Righteous";
  color: orange;
  margin-top: 20px;
  font-size: 35px;
  text-decoration: underline;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .itemResaltado {
  box-shadow: 10px 10px 15px yellow;
  animation-name: parpadeo2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes parpadeo2 {
  0% {
    box-shadow: 10px 10px 15px yellow;
  }
  50% {
    box-shadow: 10px 10px 15px rgb(221, 15, 15);
  }
  100% {
    box-shadow: 10px 10px 15px yellow;
  }
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .recuadrado {
  border: 1px solid cyan;
  margin: 20px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc a {
  text-decoration: none;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc a .itemResaltado {
  box-shadow: 10px 10px 15px yellow;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc a .novedadesPagPrincCard {
  border: 1px solid rgb(34, 159, 213);
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc a .novedadesPagPrincCard p {
  padding-top: 35px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .botonesEnIndex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .botonesEnIndex a {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .botonesEnIndex a img {
  width: 60%;
  margin: 20px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .novedadesPagPrincTitulo {
  text-align: center;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc .novedadesPagPrincTituloAvisos {
  text-align: center;
  color: rgb(221, 15, 15);
  font-family: "Righteous";
  margin: 20px;
  text-shadow: 0px 0px 20px white;
}
body #contenidoPagina #encabezadoIndex .novedadesPagPrinc p {
  text-align: center;
  color: white;
  font-size: 16px;
}
body #contenidoPagina #encabezadoIndex .eventos {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  box-shadow: 10px 10px 15px white;
  justify-content: space-around;
  align-items: flex-start;
}
body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento {
  width: 60%;
}
body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento .tituloEvento {
  font-family: "Mate SC";
  font-size: 40px;
  color: white;
  text-align: center;
}
body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento .textoEvento {
  font-family: "Mate SC";
  font-size: 25px;
  color: white;
  text-align: start;
  line-height: 200%;
  padding-top: 30px;
}
body #contenidoPagina #encabezadoIndex .eventos .imagenEvento {
  width: 36%;
}
body #contenidoPagina #encabezadoIndex .eventos .imagenEvento img {
  width: 100%;
}
body #contenidoPagina #encabezadoIndex #cumpleanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 15px white;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .encabezadoIndexTitulo {
  font-family: "Condiment";
  font-size: 40px;
  color: rgb(221, 15, 15);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos {
  margin: 20px;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr th {
  color: cyan;
  font-family: "Righteous";
  font-size: 25px;
  text-align: center;
  padding: 10px;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr td {
  color: white;
  text-align: center;
  padding: 10px;
  width: 150px;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr td .escudoClub {
  text-align: center;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr td img {
  width: 35%;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr .edadJugador {
  width: 70px;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr .escudoClub {
  text-align: center;
  width: 100px;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr .nombreJugador {
  text-align: start;
}
body #contenidoPagina #encabezadoIndex #cumpleanos .tablacumples .tablaCumpleanos tr .nombreClub {
  text-align: start;
  width: 250px;
}
body #contenidoPagina #encabezadoIndex #quienesSomos {
  margin: 20px;
}
body #contenidoPagina #encabezadoIndex #quienesSomos .encabezadoIndexTitulo {
  font-family: "Mate SC";
  font-weight: bolder;
  font-size: 25px;
  color: rgb(221, 15, 15);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
body #contenidoPagina #encabezadoIndex #quienesSomos p {
  font-family: "Mate SC";
  font-size: 16px;
  color: white;
}
body #contenidoPagina #encabezadoIndex #quienesSomos ul li {
  font-family: "Mate SC";
  font-size: 16px;
  color: white;
}
body #contenidoPagina .cafecito p {
  font-family: "Mate SC";
  font-size: 16px;
  color: white;
}
body #contenidoPagina .cafecito .linkCafecito {
  text-align: center;
  padding-bottom: 20px;
}
body #contenidoPagina .rdosPaginaSS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
body #contenidoPagina .rdosPaginaSS .subtituloRdosSS {
  font-family: "Righteous";
  color: orange;
  font-size: 40px;
  text-align: center;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  align-content: flex-start;
  align-items: flex-start;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat a {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 30%;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat a img {
  width: 50%;
  align-items: center;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat .fechasInterescuelas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  width: 50%;
  align-items: center;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat .fechasInterescuelas img {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 20px;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat .fechasInterescuelas .fechasInterescuelasLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
body #contenidoPagina .rdosPaginaSS .rdosPaginaSSCat .fechasInterescuelas .fechasInterescuelasLinks a {
  text-decoration: none;
  font-family: "Courgette";
  font-size: 25px;
  text-align: center;
}
body #contenidoPagina .infoRelevada {
  font-size: 35px;
  color: cyan;
  text-shadow: -5px -5px 10px white;
  font-family: "Righteous";
  margin: 20px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT div {
  padding-top: 20px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tituloAreaRdosTMTs {
  font-size: 35px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs {
  padding: 20px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs tr {
  font-size: 16px;
  color: white;
  font-family: "Mate SC";
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .escudoClubOrg {
  text-align: end;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .escudoClubOrg img {
  width: 40%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .escudoClubJugador {
  text-align: end;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .escudoClubJugador img {
  width: 40%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs .nombreJugadorRdosTMTs {
  text-align: center;
  font-weight: bold;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .campeones .tablaCampeonesRdosTMTs td {
  padding-left: 10px;
  padding-right: 10px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tituloAreaRdosTMTs {
  font-size: 30px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs {
  margin: 5px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs tr {
  font-size: 12px;
  color: white;
  font-family: "Mate SC";
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs .nombreJugadorRdosTMTs {
  font-size: 16px;
  font-weight: bolder;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs .puntosGanadosTMTs {
  text-align: center;
  font-size: 16px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs .escudoClubJugador {
  text-align: end;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugmaspuntos .tablaPuntosGanadosTMTs .escudoClubJugador img {
  width: 35%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tituloAreaRdosTMTs {
  font-size: 30px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs {
  margin: 5px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs tr {
  font-size: 12px;
  color: white;
  font-family: "Mate SC";
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs .nombreJugadorRdosTMTs {
  font-size: 16px;
  font-weight: bolder;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs .nuevaCategoriaTMTs {
  text-align: center;
  font-size: 16px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs .escudoClubJugador {
  text-align: end;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .jugascendidos .tablaAscensosTMTs .escudoClubJugador img {
  width: 35%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tituloAreaRdosTMTs {
  font-size: 30px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos {
  margin: 5px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos tr {
  font-size: 12px;
  color: white;
  font-family: "Mate SC";
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos .nombreClubTMTs {
  font-size: 20px;
  font-weight: bolder;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos .puntosGanadosTMTs {
  text-align: center;
  font-size: 16px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos .escudoClubJugador {
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspuntos .tablaClubMasPuntos .escudoClubJugador img {
  width: 35%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tituloAreaRdosTMTs {
  font-size: 30px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion {
  margin: 5px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion tr {
  font-size: 12px;
  color: white;
  font-family: "Mate SC";
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion .nombreClubTMTs {
  font-size: 20px;
  font-weight: bolder;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion .porcentajeParticipaciónTMTs {
  text-align: center;
  font-size: 16px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion .escudoClubJugador {
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .clubmaspresencias .tablaPorcentajeParticipacion .escudoClubJugador img {
  width: 35%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .clubesPresentes {
  width: 50%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .tituloAreaRdosTMTs {
  font-size: 30px;
  color: orange;
  font-family: "Righteous";
  margin: 20px;
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT {
  margin: 5px;
  width: 95%;
  border-bottom: 2px solid orange;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT tr {
  font-size: 20px;
  color: white;
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT tr td {
  padding: 10px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT .tituloTablaRdosTMTs {
  font-size: 20px;
  color: rgb(161, 47, 255);
  font-family: "Mate SC";
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT .nombreClubTMTs {
  font-size: 20px;
  font-weight: bolder;
  text-align: start;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT .porcentajeParticipaciónTMTs {
  text-align: center;
  font-size: 16px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT .escudoClubJugador {
  text-align: center;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .convocatoriaTMT .escudoClubJugador img {
  width: 20%;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .notaNivelRanking {
  color: orange;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria ul {
  align-self: start;
  margin-left: 75px;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria ul li {
  color: orange;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria .mobileTable {
  visibility: hidden;
}
body #contenidoPagina #cuerpoPaginaRdosTMT .convocatoria p {
  padding-top: 20px;
}
body #contenidoPagina #mesTMTsRdos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: white;
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos {
  font-family: "Righteous";
  font-size: 40px;
  line-height: 100%;
  margin: 40px;
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr td {
  padding: 15px;
  text-align: center;
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr .nombreMesTMTsRdos {
  color: rgb(34, 159, 213);
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr .refFinde {
  background-color: orange;
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr .refFinde a {
  text-decoration: none;
  color: rgb(161, 47, 255);
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr .refSemana {
  background-color: green;
  text-decoration: none;
}
body #contenidoPagina #mesTMTsRdos .tablaMesTMTsRdos tr .refSemana a {
  text-decoration: none;
  color: orange;
}
body #contenidoPagina .leyendaTMTEstadisticas {
  color: orange;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 100%;
}
body #contenidoPagina .comoBuscarte {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
}
body #contenidoPagina .actualizacionReporte {
  color: black;
  text-shadow: 2px 2px 15px white;
}
body #contenidoPagina #reporteLookerStudio {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
body #contenidoPagina #reporteLookerStudio iframe {
  width: 90%;
}
body footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(0, 128, 0, 0.419);
}
body footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .datosContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
body footer .enlaces {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Paginas de SL*/
.paginaSL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paginaSL .escudosLiga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid rgb(161, 47, 255);
}
.paginaSL .escudosLiga img {
  width: 7%;
  margin-bottom: 20px;
}
.paginaSL .marcadores {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  box-shadow: 3px 3px 5px rgb(161, 47, 255);
}
.paginaSL .marcadoresInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 30px;
}
.paginaSL .marcadoresInicio .zona_marcadores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.paginaSL .marcadoresInicio .marcadores {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  box-shadow: 3px 3px 5px rgb(161, 47, 255);
}
.paginaSL .indicadorFecha {
  color: rgb(221, 15, 15);
  font-family: "Calligraffitti";
  font-size: 35px;
  font-weight: bold;
  border-bottom: 5px dotted rgb(221, 15, 15);
  text-align: center;
  margin: 15px;
}
.paginaSL .detalleFecha {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  width: 95%;
}
.paginaSL .detalleFecha .escudoRdo {
  width: 100px;
}
.paginaSL .detalleFecha .escudoRdo img {
  width: 50%;
}
.paginaSL .detalleFecha .nombreClubRdoSL {
  width: 450px;
}
.paginaSL .detalleFecha .resultadoSL {
  width: 50px;
}
.paginaSL .detalleFecha th {
  color: rgb(161, 47, 255);
  font-family: "Righteous";
  font-size: 25px;
}
.paginaSL .detalleFecha td {
  color: white;
  font-family: "Righteous";
}
.paginaSL .tituloTablaPosSl {
  color: rgb(34, 159, 213);
  font-family: "Calligraffitti";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}
.paginaSL #tablaPosSl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  margin: 20px;
}
.paginaSL #tablaPosSl .tablaPosSl {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px;
}
.paginaSL #tablaPosSl .tablaPosSl tr {
  font-family: "Mate SC";
  font-size: 25px;
  color: white;
  text-align: center;
}
.paginaSL #tablaPosSl .tablaPosSl tr .mantiene {
  background-color: green;
}
.paginaSL #tablaPosSl .tablaPosSl tr .repechaje {
  background-color: rgb(124, 124, 34);
}
.paginaSL #tablaPosSl .tablaPosSl tr .descenso {
  background-color: rgb(221, 15, 15);
}
.paginaSL #tablaPosSl .tablaPosSl tr td {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
}
.paginaSL #tablaPosSl .tablaPosSl tr .ldetd {
  width: 75px;
}
.paginaSL #tablaPosSl .tablaPosSl tr .escudoRdo {
  text-align: start;
}
.paginaSL #tablaPosSl .tablaPosSl tr .escudoRdo img {
  width: 10%;
  padding-right: 10px;
}
.paginaSL #tablaPlayoffSl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  margin: 20px;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl {
  margin: 50px;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr td {
  width: 80px;
  font-family: "Mate SC";
  font-size: 25px;
  color: white;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .separacion {
  height: 50px;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .rdoLlaveSL {
  color: rgb(221, 15, 15);
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .scheduling {
  color: orange;
  text-align: center;
  border-left: 1px dashed orange;
  border-right: 1px dashed orange;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .schedulingsb {
  color: orange;
  text-align: center;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .rightScheduling {
  border-right: 1px dashed orange;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .borderFullLlave {
  width: 300px;
  height: 30px;
  border: 1px solid white;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .borderLeftLlave {
  border-left: 1px solid white;
}
.paginaSL #tablaPlayoffSl .tablaPlayoffSl tr .borderDownLlave {
  width: 80px;
  border-bottom: 1px solid white;
}
.paginaSL #fixtureSl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.paginaSL #fixtureSl h2 {
  font-family: "Mate SC";
  color: orange;
  font-weight: bold;
}
.paginaSL #fixtureSl .fixtureSl {
  width: 80%;
  margin: 20px;
}
.paginaSL #fixtureSl .fixtureSl tr {
  font-family: "Mate SC";
  font-size: 20px;
  color: white;
  text-align: center;
}
.paginaSL #tablaPlayoffLde {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  margin: 20px;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde {
  margin: 50px;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde .separacion {
  height: 50px;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde .scheduling {
  color: orange;
  text-align: center;
  border-left: 1px dashed orange;
  border-right: 1px dashed orange;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde .schedulingsb {
  color: orange;
  text-align: center;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde .rightScheduling {
  border-right: 1px dashed orange;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr td {
  width: 80px;
  font-family: "Mate SC";
  font-size: 25px;
  color: white;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr .borderFullLlave {
  width: 300px;
  height: 30px;
  border: 3px solid orange;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr .resultadoEnLlave {
  color: rgb(221, 15, 15);
  font-weight: bold;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr .borderLeftLlave {
  border-left: 1px solid orange;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr .borderDownLlave {
  width: 80px;
  border-bottom: 1px solid orange;
}
.paginaSL #tablaPlayoffLde .tablaPlayoffLde tr .instancia {
  font-weight: bold;
  color: rgb(161, 47, 255);
  text-align: center;
}
.paginaSL #resumenSL {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.paginaSL #resumenSL .resumenSLAgrupado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.paginaSL #resumenSL .resumenSLAgrupado .campeonSL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paginaSL #resumenSL .resumenSLAgrupado .campeonSL .tabladecampeon .campeonSLTitulo {
  font-family: "Righteous";
  font-size: 30px;
  color: orange;
  text-shadow: 1px 1px white;
}
.paginaSL #resumenSL .resumenSLAgrupado .campeonSL .tabladecampeon .campeonSLNombre {
  font-family: "Righteous";
  font-size: 40px;
  color: rgb(161, 47, 255);
  text-shadow: 3px 3px 3px rgb(221, 15, 15);
  color: yellow;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes parpadeo {
  0% {
    text-shadow: 1px 1px 1px orange;
    color: rgb(34, 159, 213);
  }
  50% {
    text-shadow: 1px 1px 1px orange;
    color: white;
  }
  100% {
    text-shadow: 1px 1px 1px orange;
    color: rgb(34, 159, 213);
  }
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos .ascensosdescensosTitulo {
  font-family: "Righteous";
  font-size: 30px;
  color: green;
  text-shadow: 1px 1px white;
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos .ascensosdescensosTituloDescenso {
  font-family: "Righteous";
  font-size: 30px;
  color: rgb(221, 15, 15);
  text-shadow: 1px 1px white;
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos table .separacion {
  height: 50px;
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos .tabladeascensosydescensos tr .escudoClub {
  text-align: end;
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos .tabladeascensosydescensos tr .escudoClub img {
  width: 50%;
}
.paginaSL #resumenSL .resumenSLAgrupado .ascensosdescensos .tabladeascensosydescensos tr .nombreClub {
  font-family: "Righteous";
  font-size: 30px;
  color: white;
}
.paginaSL #resumenSL .resumenSLAgrupado .miembrosProxSL .miembrosProxSLTitulo {
  font-family: "Righteous";
  font-size: 30px;
  color: cyan;
  text-shadow: 1px 1px white;
}
.paginaSL #resumenSL .resumenSLAgrupado .miembrosProxSL .tablaproxSL tr .escudoClub {
  text-align: end;
}
.paginaSL #resumenSL .resumenSLAgrupado .miembrosProxSL .tablaproxSL tr .escudoClub img {
  width: 40%;
}
.paginaSL #resumenSL .resumenSLAgrupado .miembrosProxSL .tablaproxSL tr .nombreClub {
  font-family: "Righteous";
  font-size: 30px;
  color: white;
}
.paginaSL #resumenSL .imagenPodios img {
  width: 100%;
}

/*Paginas de SS*/
.paginaRdosSS .playoffTitulo {
  font-family: "Condiment";
  font-size: 50px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.paginaRdosSS .rdosSSGeneral {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-content: center;
}
.paginaRdosSS .rdosSSGeneral .rdosEspecialesSS {
  color: white;
}
.paginaRdosSS .rdosSSGeneral .rdosEspecialesSS h3 {
  color: rgb(161, 47, 255);
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .nombreGrupoSS {
  font-family: "Mate SC";
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr {
  font-family: "Mate SC";
  font-size: 20px;
  color: white;
  text-align: center;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr td {
  width: 35px;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr .nombreJugSS {
  font-family: "Mate SC";
  font-size: 20px;
  color: white;
  text-align: start;
  width: 400px;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr .escudoRdoSS {
  text-align: start;
  font-size: 16px;
  width: 250px;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr .escudoRdoSS img {
  width: 10%;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr .setsganadosSS {
  font-family: "Mate SC";
  font-size: 20px;
  font-weight: bold;
  color: rgb(221, 15, 15);
  text-align: center;
  width: 50px;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS tr .puntosGanadosRank {
  font-family: "Mate SC";
  font-size: 20px;
  font-weight: bold;
  color: rgb(34, 159, 213);
  text-align: center;
}
.paginaRdosSS .rdosSSGeneral .cardRdoSS .rdosSS .matchSS {
  border-bottom: 1px solid rgb(34, 159, 213);
}

/*pagina de LDE*/
#menudeLde {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}
#menudeLde .seccion1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 45%;
  margin: 20px;
}
#menudeLde .seccion1 img {
  width: 100%;
  margin: 20px;
  box-shadow: 10px 15px 15px rgb(161, 47, 255);
}
#menudeLde .seccion1 .imagenSeleccionable {
  display: flex;
}
#menudeLde .seccion1 .imagenSeleccionable .img2 {
  width: 100%;
  box-shadow: -10px 15px 15px rgb(161, 47, 255);
}
#menudeLde .seccion1 .imagenSeleccionable .img2:hover {
  box-shadow: -10px 15px 15px orange;
}
#menudeLde .seccion1 .opcionesMenuLde {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Righteous";
  font-size: 40px;
  line-height: 100%;
}
#menudeLde .seccion1 .opcionesMenuLde .opciondeMenuLde {
  text-decoration: none;
  color: white;
  margin: 5px;
}
#menudeLde .seccion1 .opcionesMenuLde .opciondeMenuLde:hover {
  font-size: 45px;
  text-shadow: 5px 5px 10px orange;
}
#menudeLde .seccion1 .buscadorDeMesa {
  display: flex;
  justify-content: center;
}
#menudeLde .seccion1 .buscadorDeMesa iframe {
  margin: 20px;
  box-shadow: 10px 15px 15px rgb(34, 159, 213);
}
#menudeLde .seccion1 .buscadorDeMesa iframe:hover {
  box-shadow: 10px 15px 30px orange;
}

/*pagina de TMTs*/
#fechasFindeTMT {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
#fechasFindeTMT .fechaTMT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  width: 50%;
}
#fechasFindeTMT .fechaTMT .fecha {
  width: 100%;
  margin: 15px;
  box-shadow: 10px 10px 15px rgba(208, 30, 196, 0.784);
}
#fechasFindeTMT .fechaTMT .flyersTMT {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
#fechasFindeTMT .fechaTMT .flyersTMT table {
  margin-top: 20px;
  margin-bottom: 20px;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr td {
  font-family: "Mate SC";
  font-size: 20px;
  color: white;
  text-align: start;
  box-shadow: 1px 1px 10px black;
  height: 35px;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr td img {
  width: 60%;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr .escudoFechasTMTs {
  width: 100px;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr .categoriasTMTFinde {
  font-family: "Mate SC";
  font-size: 20px;
  font-weight: bold;
  color: rgb(34, 159, 213);
  text-align: start;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr .preciosTMTFinde {
  font-family: "Mate SC";
  font-size: 20px;
  color: orange;
  text-align: start;
}
#fechasFindeTMT .fechaTMT .flyersTMT table tr .informesTMTFinde {
  font-family: "Mate SC";
  font-size: 20px;
  color: green;
  text-align: start;
}
#fechasFindeTMT .fechaTMT .flyersTMT img {
  width: 100%;
  margin: 20px;
}

/*------------------MQ---------------------*/
@media screen and (max-width: 991px) {
  body header {
    background: linear-gradient(rgb(161, 47, 255), rgba(255, 255, 255, 0.419));
    text-align: center;
    box-shadow: 10px 5px 15px white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 3s;
  }
  body header:hover {
    background: linear-gradient(white, rgba(221, 15, 15, 0.419));
    height: 350px;
  }
  body header .nav-item {
    font-family: "Mate SC";
    font-size: 25px;
    font-weight: 600;
  }
  body header .nav-link {
    color: black;
    text-shadow: 10px 10px 2px rgba(255, 255, 255, 0.5);
  }
  body header .nav-link:hover {
    color: white;
    text-shadow: 10px 10px 2px rgba(255, 255, 255, 0.5);
  }
  body #contenidoPagina #titulodePagina {
    text-align: center;
    font-family: "Condiment";
    font-size: 60px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body #contenidoPagina #encabezadoIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  body #contenidoPagina #encabezadoIndex .novedadesPagPrincFijo .fijoPagPrincCard {
    width: 90%;
  }
  body #contenidoPagina #encabezadoIndex .eventos {
    grid-area: eventos;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    box-shadow: 10px 10px 15px white;
    justify-content: space-between;
    align-items: center;
  }
  body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento {
    width: 90%;
  }
  body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento .tituloEvento {
    font-family: "Mate SC";
    font-size: 40px;
    color: white;
    text-align: center;
  }
  body #contenidoPagina #encabezadoIndex .eventos .leyendasEvento .textoEvento {
    font-family: "Mate SC";
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 100%;
  }
  body #contenidoPagina #encabezadoIndex .eventos .imagenEvento {
    width: 90%;
  }
  body #contenidoPagina #encabezadoIndex .eventos .imagenEvento img {
    width: 100%;
  }
  body #contenidoPagina .banner {
    display: none;
  }
  body #contenidoPagina #cuerpoPaginaRdosTMT div table tr td {
    padding-top: 10px;
  }
  .paginaSL .escudosLiga {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgb(161, 47, 255);
  }
  .paginaSL .escudosLiga img {
    width: 7%;
    margin-bottom: 20px;
  }
  .paginaSL .detalleFecha tr .escudoRdo img {
    display: none;
  }
  .paginaSL #tablaPosSl .tablaPosSl {
    margin: 10px;
  }
  .paginaSL #tablaPosSl .tablaPosSl tr .escudoRdo {
    text-align: start;
  }
  .paginaSL #tablaPosSl .tablaPosSl tr .escudoRdo img {
    display: none;
  }
  /*----------Pagina de LDE--------------*/
  #menudeLde {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: space-around;
  }
  #menudeLde .seccion1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 20px;
    width: 100%;
  }
  #menudeLde .seccion1 .buscadorDeMesa {
    display: flex;
    justify-content: center;
  }
  #menudeLde .seccion1 .buscadorDeMesa iframe {
    margin: 20px;
    box-shadow: -10px 15px 15px rgb(34, 159, 213);
  }
  #menudeLde .seccion1 .buscadorDeMesa iframe:hover {
    box-shadow: 10px 15px 30px orange;
  }
  #menudeLde .seccion1 .imagenSeleccionable {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #menudeLde .seccion1 .imagenSeleccionable .img2 {
    width: 100%;
    box-shadow: 10px 15px 15px rgb(161, 47, 255);
  }
  #menudeLde .seccion1 .imagenSeleccionable .img2:hover {
    box-shadow: 10px 15px 15px orange;
  }
}

/*# sourceMappingURL=styles.css.map */
