/*Aplica a todo*/
$acolor: rgb(161, 47, 255);
$bcolor: rgb(34, 159, 213);
$ccolor: rgba(221, 15, 15);
$ctcolor: rgba(221, 15, 15, 0.419);
$dcolor: green;
$dtcolor: rgba(0, 128, 0, 0.419);
$ecolor: white;
$etcolor: rgba(255, 255, 255, 0.419);
$fcolor: black;
$gcolor: rgb(124, 124, 34);
$hcolor: orange;
$icolor: rgba(208, 30, 196, 0.784);
$jcolor: yellow;
$kcolor: cyan;
$bkgcolor: rgba(227, 227, 183);
$afont: 'Righteous';
$bfont: 'Satisfy';
$cfont: 'Courgette';
$dfont: 'Mate SC';
$efont: 'Calligraffitti';
$ffont: 'Montez';
$gfont: 'Bilbo Swash Caps';
$hfont: 'Akronim';
$ifont: 'Condiment';
$afontsize: 60px;
$abfontsize: 55px;
$bfontsize: 50px;
$bcfontsize: 45px;
$cfontsize: 40px;
$cdfontsize: 35px;
$dfontsize: 30px;
$defontsize: 25px;
$efontsize: 20px;
$effontsize: 16px;
$ffontsize: 12px;


body {
    background-image: url(../images/gran_logo_corazon_oscuro.jpg);
    background-size: 95%;

    header {
        background-image: url(../images/logo_chico_frio.png);
        background-size: 100%;
        background-position: center;
        text-align: center;
        height: 150px;
        box-shadow: 10px 5px 15px $ecolor;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: all 3s;

        &:hover {
            background-image: url(../images/logo_chico.png);
        }

        .nav-item {
            font-family: $dfont;
            font-size: $defontsize;
            font-weight: 600;
        }

        .nav-link {
            color: $hcolor;
            text-shadow: 10px 10px 2px transparentize($color: $kcolor, $amount: 0.5);

            &:hover {
                color: $kcolor;
                text-shadow: 10px 10px 2px transparentize($color: $hcolor, $amount: 0.5);
            }
        }

    }

    #contenidoPagina {

        .banner {
            img {
                width: 100%;
            }

        }

        #titulodePagina {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            font-family: $ifont;
            font-size: $afontsize;
            color: $ecolor;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #subtitulodePagina {
            display: flex;
            justify-content: space-around;
            font-family: $ifont;
            font-size: $bfontsize;
            color: $ecolor;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #subtituloBdePagina {
            display: flex;
            justify-content: space-around;
            font-family: $afont;
            font-size: $efontsize;
            color: $hcolor;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .slider {
            width: 100%;
            height: auto;
            margin: auto;
            overflow: hidden;
            padding-top: 25px;
            box-shadow: 10px 10px 15px $ecolor;


            .slide-track {
                display: flex;
                animation: scroll 40s linear infinite;
                -webkit-animation: scroll 40s linear infinite;
                width: calc(200px * 32);

                .slide {
                    width: 200px;

                    .img {
                        width: 100%;

                    }

                }
            }
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
                -webkit-transform: translateX(0);
            }

            100% {
                transform: translateX(calc(-200px * 16));
                -webkit-transform: translateX(calc(-200px * 15));
            }
        }


        #encabezadoIndex {
            display: grid;
            grid-template-areas:
                "anuncio novedades"
                "anuncio novedades"
                "eventos eventos"
                "quienes quienes";
            grid-template-columns: 35% auto;
            grid-template-rows: 40% auto auto auto;
            margin-bottom: 100px;

            .anuncio {
                grid-area: anuncio;
                color: $ecolor;
                display: flex;
                flex-direction: column;

                text-align: center;
                margin: 10px;

                .titulo_anuncio {
                    text-align: center;
                }

                .texto_anuncio {
                    font-style: italic;
                }

                .datos_anuncio {
                    color: $bcolor;
                    font-weight: bold;
                    text-align: start;
                }

                img {
                    width: 100%
                }

            }

            .novedadesPagPrinc {
                grid-area: novedades;
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;

                    .itemResaltado {
                        box-shadow: 10px 10px 15px yellow;
                    }

                    .novedadesPagPrincCard {
                        border: 1px solid $bcolor;
                        margin: 20px;
                    }
                }

                .botonesEnIndex {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;

                    a {
                        display: flex;
                        justify-content: space-around;
                        width: 30%;

                        img {

                            width: 60%;
                            margin: 20px;

                        }
                    }

                }

                .novedadesPagPrincTitulo {
                    text-align: center;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                }

                p {
                    text-align: center;
                    color: $ecolor;
                    font-size: $effontsize;
                }

            }

            .eventos {
                grid-area: eventos;
                display: flex;
                flex-wrap: wrap;
                padding-top: 50px;
                box-shadow: 10px 10px 15px $ecolor;
                justify-content: space-around;
                align-items: flex-start;

                .leyendasEvento {

                    width: 60%;


                    .tituloEvento {
                        font-family: $dfont;
                        font-size: $cfontsize;
                        color: $ecolor;
                        text-align: center;
                    }

                    .textoEvento {
                        font-family: $dfont;
                        font-size: $defontsize;
                        color: $ecolor;
                        text-align: start;
                        line-height: 200%;
                        padding-top: 30px;
                    }
                }

                .imagenEvento {
                    width: 36%;

                    img {
                        width: 100%;
                    }
                }
            }

            #quienesSomos {
                grid-area: quienes;
                margin: 20px;

                .encabezadoIndexTitulo {
                    font-family: $ifont;
                    font-size: $cfontsize;
                    color: $ccolor;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }

                p {
                    font-family: $afont;
                    font-size: $efontsize;
                    color: $ecolor;
                }
            }

        }

        .rdosPaginaSS {
            display: flex;
            flex-direction: column;
            justify-content: space-around;


            .subtituloRdosSS {
                font-family: $afont;
                color: $hcolor;
                font-size: $cfontsize;
                text-align: center;
            }

            .rdosPaginaSSCat {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                margin: 20px;

                a {
                    display: flex;
                    justify-content: space-around;
                    justify-items: center;
                    width: 50%;

                    img {
                        width: 50%;
                        align-content: center;
                        margin: 20px;
                    }

                }
            }


        }

        /*Pagina de Rdos de TMT*/

        #cuerpoPaginaRdosTMT {


            div {
                padding-top: 20px;
            }

            .campeones {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;


                .tituloAreaRdosTMTs {
                    font-size: $cdfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                }

                .tablaCampeonesRdosTMTs {

                    padding: 20px;

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;

                    }

                    tr {
                        font-size: $effontsize;
                        color: $ecolor;
                        font-family: $dfont;
                    }

                    .escudoClubOrg {
                        text-align: end;

                        img {
                            width: 40%;
                        }
                    }

                    .escudoClubJugador {
                        text-align: end;

                        img {
                            width: 40%;
                        }
                    }

                    .nombreJugadorRdosTMTs {
                        text-align: center;
                        font-weight: bold;
                    }

                    td {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

            }

            .jugmaspuntos {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .tituloAreaRdosTMTs {
                    font-size: $dfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                    text-align: center;
                }

                .tablaPuntosGanadosTMTs {

                    margin: 5px;

                    tr {
                        font-size: $ffontsize;
                        color: $ecolor;
                        font-family: $dfont;
                    }

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .nombreJugadorRdosTMTs {
                        font-size: $effontsize;
                        font-weight: bolder;
                    }

                    .puntosGanadosTMTs {
                        text-align: center;
                        font-size: $effontsize;
                    }

                    .escudoClubJugador {
                        text-align: end;

                        img {
                            width: 35%;
                        }

                    }

                }
            }

            .jugascendidos {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .tituloAreaRdosTMTs {
                    font-size: $dfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                    text-align: center;
                }

                .tablaAscensosTMTs {

                    margin: 5px;

                    tr {
                        font-size: $ffontsize;
                        color: $ecolor;
                        font-family: $dfont;
                    }

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .nombreJugadorRdosTMTs {
                        font-size: $effontsize;
                        font-weight: bolder;
                    }

                    .nuevaCategoriaTMTs {
                        text-align: center;
                        font-size: $effontsize;
                    }

                    .escudoClubJugador {
                        text-align: end;

                        img {
                            width: 35%;
                        }

                    }

                }
            }

            .clubmaspuntos {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .tituloAreaRdosTMTs {
                    font-size: $dfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                    text-align: center;
                }

                .tablaClubMasPuntos {
                    margin: 5px;

                    tr {
                        font-size: $ffontsize;
                        color: $ecolor;
                        font-family: $dfont;
                    }

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .nombreClubTMTs {
                        font-size: $efontsize;
                        font-weight: bolder;
                    }

                    .puntosGanadosTMTs {
                        text-align: center;
                        font-size: $effontsize;
                    }

                    .escudoClubJugador {
                        text-align: center;

                        img {
                            width: 35%;
                        }

                    }

                }
            }

            .clubmaspresencias {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .tituloAreaRdosTMTs {
                    font-size: $dfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                    text-align: center;
                }

                .tablaPorcentajeParticipacion {
                    margin: 5px;

                    tr {
                        font-size: $ffontsize;
                        color: $ecolor;
                        font-family: $dfont;
                    }

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .nombreClubTMTs {
                        font-size: $efontsize;
                        font-weight: bolder;
                    }

                    .porcentajeParticipaciónTMTs {
                        text-align: center;
                        font-size: $effontsize;
                    }

                    .escudoClubJugador {
                        text-align: center;

                        img {
                            width: 35%;
                        }

                    }

                }
            }

            .convocatoria {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .tituloAreaRdosTMTs {
                    font-size: $dfontsize;
                    color: $hcolor;
                    font-family: $afont;
                    margin: 20px;
                    text-align: center;
                }

                .convocatoriaTMT {
                    margin: 5px;

                    tr {
                        font-size: $efontsize;
                        color: $ecolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .tituloTablaRdosTMTs {
                        font-size: $efontsize;
                        color: $acolor;
                        font-family: $dfont;
                        text-align: center;
                    }

                    .nombreClubTMTs {
                        font-size: $efontsize;
                        font-weight: bolder;
                        text-align: start;
                    }

                    .porcentajeParticipaciónTMTs {
                        text-align: center;
                        font-size: $effontsize;
                    }

                    .escudoClubJugador {
                        text-align: center;

                        img {
                            width: 35%;
                        }

                    }

                }
                
                .mobileTable{
                 visibility: hidden;       
                }
            }

        }

    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: $dtcolor;

        .redes {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .datosContacto {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .enlaces {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}

/*Paginas de SL*/

.paginaSL {

    display: flex;
    flex-direction: column;
    align-items: center;

    .escudosLiga {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid $acolor;

        img {
            width: 7%;
            margin-bottom: 20px;
        }
    }

    .indicadorFecha {
        color: $ccolor;
        font-family: $efont;
        font-size: $cdfontsize;
        font-weight: bold;
        border-bottom: 5px dotted $ccolor;
        text-align: center;
        margin: 15px;
    }

    .detalleFecha {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 20px;
        border-bottom: 3px solid $ccolor;


        .escudoRdo {
            img {
                width: 50%;
            }
        }

        th {
            color: $acolor;
            font-family: $afont;
            font-size: $defontsize;
        }

        td {
            color: $ecolor;
            font-family: $afont;
        }
    }

    .tituloTablaPosSl {
        color: $bcolor;
        font-family: $efont;
        font-size: $cdfontsize;
        font-weight: bold;
        text-align: center;
        margin: 15px;
    }

    #tablaPosSl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 99%;
        margin: 20px;


        .tablaPosSl {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 20px;


            tr {
                font-family: $dfont;
                font-size: $defontsize;
                color: $ecolor;
                text-align: center;

                .mantiene {
                    background-color: $dcolor;
                }

                .repechaje {
                    background-color: $gcolor;
                }

                .descenso {
                    background-color: $ccolor;
                }

                td {
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 1px solid $ecolor
                }

                .escudoRdo {
                    img {
                        width: 10%;
                        padding-right: 10px;
                    }

                    text-align: start;
                }
            }

        }

    }

    #tablaPlayoffSl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 99%;
        margin: 20px;

        .tablaPlayoffSl {


            tr {
                td {
                    width: 80px;
                    font-family: $dfont;
                    font-size: $defontsize;
                    color: $ecolor;
                }

                .borderFullLlave {
                    width: 300px;
                    height: 30px;
                    border: 1px solid white;
                }

                .borderLeftLlave {
                    border-left: 1px solid white;
                }

                .borderDownLlave {
                    width: 80px;
                    border-bottom: 1px solid white;
                }

            }
        }
    }

    #fixtureSl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;

        h2 {
            font-family: $dfont;
            color: $hcolor;
            font-weight: bold;
        }

        .fixtureSl {
            width: 80%;
            margin: 20px;

            tr {
                font-family: $dfont;
                font-size: $efontsize;
                color: $ecolor;
                text-align: center;
            }
        }
    }

    #tablaPlayoffLde {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 99%;
        margin: 20px;

        .tablaPlayoffLde {

            margin: 50px;

            .separacion {
                height: 50px;
            }

            tr {
                td {
                    width: 80px;
                    font-family: $dfont;
                    font-size: $defontsize;
                    color: $ecolor;
                }

                .borderFullLlave {
                    width: 300px;
                    height: 30px;
                    border: 3px solid $hcolor;
                }

                .resultadoEnLlave {
                    color: $ccolor;
                    font-weight: bold;
                }

                .borderLeftLlave {
                    border-left: 1px solid $hcolor;
                }

                .borderDownLlave {
                    width: 80px;
                    border-bottom: 1px solid $hcolor;
                }

                .instancia {
                    font-weight: bold;
                    color: $acolor;
                    text-align: center;
                }

            }
        }
    }
}

/*Paginas de SS*/

.paginaRdosSS {

    .playoffTitulo {
        font-family: $ifont;
        font-size: $bfontsize;
        color: $ecolor;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .rdosSSGeneral {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-content: center;

        .rdosEspecialesSS {

            color: $ecolor;

            h3 {
                color: $acolor;
            }
        }

        .cardRdoSS {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;


            .nombreGrupoSS {
                font-family: $dfont;
                font-size: $efontsize;
                font-weight: bold;
                color: $ecolor;
                text-align: center;

            }

            .rdosSS {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 20px;

                tr {

                    font-family: $dfont;
                    font-size: $efontsize;
                    color: $ecolor;
                    text-align: center;

                    .nombreJugSS {
                        font-family: $dfont;
                        font-size: $efontsize;
                        color: $ecolor;
                        text-align: start;
                    }

                    .escudoRdoSS {
                        text-align: start;
                        font-size: $effontsize;

                        img {
                            width: 10%;
                        }
                    }

                    .setsganadosSS {
                        font-family: $dfont;
                        font-size: $efontsize;
                        font-weight: bold;
                        color: $ccolor;
                        text-align: center;
                    }

                    .puntosGanadosRank {
                        font-family: $dfont;
                        font-size: $efontsize;
                        font-weight: bold;
                        color: $bcolor;
                        text-align: center;
                    }
                }

                .matchSS {
                    border-bottom: 1px solid $bcolor;
                }
            }

        }
    }


}

/*pagina de LDE*/

#menudeLde {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;

    .seccion1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        width: 45%;
        margin: 20px;

        img {
            width: 100%;
            margin: 20px;
            box-shadow: 10px 15px 15px $acolor;
        }

        .imagenSeleccionable {
            display: flex;

            .img2 {
                width: 100%;
                box-shadow: -10px 15px 15px $acolor;

                &:hover {
                    box-shadow: -10px 15px 15px $hcolor;
                }

            }
        }

        .opcionesMenuLde {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-family: $afont;
            font-size: $cfontsize;
            line-height: 100%;



            .opciondeMenuLde {
                text-decoration: none;
                color: $ecolor;
                margin: 5px;

                &:hover {
                    font-size: $bcfontsize;
                    text-shadow: 5px 5px 10px $hcolor;
                }
            }

        }

        .buscadorDeMesa {
            display: flex;
            justify-content: center;


            iframe {
                margin: 20px;
                box-shadow: 10px 15px 15px $bcolor;

                &:hover {
                    box-shadow: 10px 15px 30px $hcolor;
                }
            }

        }

    }


}

/*pagina de TMTs*/

#fechasFindeTMT {

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;


    .fechaTMT {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
        width: 50%;

        .fecha {
            width: 100%;
            margin: 15px;
            box-shadow: 10px 10px 15px $icolor;
        }

        .flyersTMT {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;


            img {
                width: 100%;
                margin: 20px
            }

        }
    }
}




/*------------------MQ---------------------*/

@media screen and (max-width: 991px) {

    body {

        header {
            background: linear-gradient($acolor, $etcolor);
            text-align: center;
            box-shadow: 10px 5px 15px $ecolor;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            transition: all 3s;

            &:hover {
                background: linear-gradient($ecolor, $ctcolor);
                height: 350px;
            }

            .nav-item {
                font-family: $dfont;
                font-size: $defontsize;
                font-weight: 600;
            }

            .nav-link {
                color: $fcolor;
                text-shadow: 10px 10px 2px transparentize($color: $ecolor, $amount: 0.5);

                &:hover {
                    color: $ecolor;
                    text-shadow: 10px 10px 2px transparentize($color: $ecolor, $amount: 0.5);
                }
            }


        }

        #contenidoPagina {

            #titulodePagina {
                text-align: center;
                font-family: $ifont;
                font-size: $afontsize;
                color: $ecolor;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            #encabezadoIndex {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;

                .eventos {
                    grid-area: eventos;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding-top: 50px;
                    box-shadow: 10px 10px 15px $ecolor;
                    justify-content: space-between;
                    align-items: center;

                    .leyendasEvento {

                        width: 90%;

                        .tituloEvento {
                            font-family: $dfont;
                            font-size: $cfontsize;
                            color: $ecolor;
                            text-align: center;
                        }

                        .textoEvento {
                            font-family: $dfont;
                            font-size: $defontsize;
                            color: $ecolor;
                            text-align: center;
                            line-height: 100%;
                        }
                    }

                    .imagenEvento {
                        width: 90%;

                        img {
                            width: 100%;
                        }
                    }
                }

            }

            .banner {
                display: none;
            }

            #cuerpoPaginaRdosTMT {

                div {

                    table {

                        tr {
                            

                            td{

                                padding-top: 10px;

                            }

                            .nombreClubTMTs{
                                font-size: $afontsize;
                            }

                        }   
                    }
                }


            }
        }

    }


    .paginaSL {

        .escudosLiga {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 1px solid $acolor;

            img {
                width: 7%;
                margin-bottom: 20px;
            }
        }

        .detalleFecha {

            tr {
                .escudoRdo {
                    img {
                        display: none;
                    }
                }
            }
        }

        #tablaPosSl {

            .tablaPosSl {

                tr {

                    .escudoRdo {
                        img {
                            display: none;
                        }

                        text-align: start;
                    }
                }
            }
        }

    }

    /*----------Pagina de LDE--------------*/

    #menudeLde {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        justify-content: space-around;

        .seccion1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-around;
            margin: 20px;
            width: 100%;

            .buscadorDeMesa {
                display: flex;
                justify-content: center;


                iframe {
                    margin: 20px;
                    box-shadow: -10px 15px 15px $bcolor;

                    &:hover {
                        box-shadow: 10px 15px 30px $hcolor;
                    }
                }

            }

            .imagenSeleccionable {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .img2 {
                    width: 100%;
                    box-shadow: 10px 15px 15px $acolor;

                    &:hover {
                        box-shadow: 10px 15px 15px $hcolor;
                    }

                }
            }
        }


    }
}